
.App-link {
  color: white;
}


input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.aboutWrapper {
  border-bottom: 40px solid black;
}

.featuredProductsText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 6px solid transparent;
  border-image: linear-gradient(to right,rgba(246, 184, 170, 1) ,rgba(242, 229, 228, 1));
  width: 300px;
  position: relative;
  left: 800px;
  border-image-slice: 5;
}

.header {
  overflow: hidden;
  text-decoration: none;
}

.box{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .box {
    margin: 0 auto;
    width: 0px;
    margin-right: 400px;
    display: flex;
    flex-direction: column;
  }
}

.homeWrapper {
  overflow: hidden
}

@media screen and (max-width: 400px) {
  .box {
    margin: 0 auto;
    width: 0px;
    margin-right: 325px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .featuredProductCardsWrapper {
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .subtle_home_card {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .subtle_home_card {
    width: 325px;
  }
}

@media screen and (max-width: 1000px) {
  .home_card {
    position: absolute;
    top: -200px;
    left: -100px;
    width: 250px;
    text-align: left;
  }
}

@media screen and (max-width: 300px) {
  .card__container {
    width: 90% !important;
    position: fixed !important;
    left: 27px;
  }
}

.header_menu_item {
  text-decoration: none !important;
}


@media screen and (max-width: 1000px) {
  .header_title {
    display: none;
  }
}

@media screen and (max-width: 1800px) {
  .homePageImage {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .productsExploreButton {
    display: none;
  }
}

.subtle_home_card {
display: flex;
position: relative;
top: 375px;
left: 150px;
font-size: 40px;
font-weight: lighter;
}

.Rubik {
  font-family: Rubik;
}


.homePageButton {
  position: relative;
  color: black;
  top: 400px;
  left: 500px;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
  border-radius: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  font-family: 'Rubik';
  transition: 'all .2s ease-in-out';
  text-decoration: 'none'
}

@media screen and (max-width: 1000px) {
  .homePageButton {
    position: relative;
    left: 200px;
    top: 450px;
  }
}


.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.card:hover .imgBx
{
  bottom: 80px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 

 /* ABOUT ME TEXT BOX */


/* CAROUSEL CSS */

.carousel-wrapper {
  max-width: 100%;
  max-height: 100%;
  margin: 20px auto;
  padding: 0 20px
}

.sliderimg{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: 50% 40%;
}

/* EXPLORE ARROW */

.productsExploreButton {
  color: black;
    height: 50px;
    width: 75px;
    margin: 0 auto;
    animation-name: pulse;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    background-color: white;
    position: absolute;
    left: 46%;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    font-family: Rubik;
    animation: pulse 5s infinite;
    border: 2px solid black;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* PRODUCTS CARD STARTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #444;
  background-color: #f2f2f2;
}



.card__container {
    width: 320px;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
            box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 60px;
    transition: all .3s ease-in-out;
  }
  .card__body__section {
    text-align: center;
    padding: 8px 5px;
  }

  .card__body__section > p {
    font-weight: 700;
  }

  .card__top__section > img {
    margin-left: 10px;
    width: 300px;
    margin-left: 10px;
    transition: all .3s ease-in-out;
  }

  .card__top__section > img:hover {
    transform: translate3d(0px, -5px, 0px);
  }
  .rating-section {
  border-top: 1px solid #eee;
  padding: 8px 12px;
  margin-top: 5px;
  display: table;
  content: "";
  clear: both;
  width: 100%;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 0px;
    background-color: #fff;
    color: black;; 
}

.overflow { 
  overflow-x: hidden;
}


.productInfoWrapper {
  margin: 40px;
  margin-left: 175px;
  width: 800px;
  height: 800px;
  float: left;
}

@media (max-width: 880px) {
  .productInfoWrapper {
    position: relative;
    left: -150px;
    width: 300px;
    height: 800px;
 }
 }

 @media (max-width: 440px) {
  .productInfoWrapper {
    position: relative;
    left: -175px;
    width: 200px;
    height: 600px;
 }
 }


 @media (max-width: 880px) {
  .productInfoPrice {
    position: absolute;
    font-size: 10px;
    top: 450px;
    left:  250px;
    width: 200px;
    height: 600px;
 }
 }

 .sizeGuide {
  position: absolute;
  left: 1385px;
  top: 175px;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  width: 200px;
}

@media (max-width: 880px) {
  .sizeGuide {
    position: absolute;
    top: 620px;
    left: 50px;
 }
 }


 @media (max-width: 440px) {
  .sizeGuide {
    position: absolute;
    top: 460px;
    left: 30px;
 }
 }

 @media (max-width: 440px) {
  .productInfoPrice {
    position: absolute;
    top: 300px;
    font-size: 2px;
    left:  200px;
    width: 300px;
    height: 600px;
 }
 }

.productInfoImg {
  width: 700px;
  height: 700px;
  margin-bottom: 20px;
  margin-left: 130px;
}

@media (max-width: 880px) {
  .productInfoImg {
    width: 400px;
    height: 400px;
    position: relative;
    left: -100px;
 }
 }

 
@media (max-width: 440px) {
  .productInfoImg {
    width: 250px;
    height: 250px;
    position: relative;
    left: -50px;
 }
 }



  .rating-with-color {
  color: #ffa500;
  }

  .stars-rating{
  float: left;
  }

  .stars-rating > span {
    font-size: small;
  }

  .c-price > span {
  float: right;
  margin: 10px;
  }

  .d-price > span {
    font-size: 40px;
    float: right;
    }

 .card__container:hover {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.card__container:before, .card__container:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
  /* FOOTER CSS STARTS */


   footer{
    bottom: 0;
    background: black;

   }

   .footer-links {
     padding: 20px;
   }
   .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
    margin-top: 80px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    font-family: "Poppins", sans-serif;
    color: #f38695;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    font-family: "Poppins", sans-serif;
    color: white;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .the-footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color: #f38695;
    text-decoration: none;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   }

   .homePageButton:hover {
    transition: all .2s ease-in-out,

    }
  
   .homePageButton:hover {
    transform: scale(1.1); 
   }

   /* DROP DOWN BUTTON CSS */
   
   #myNav1 {
    height: 0;
    width: 50%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0.85;
}

#myNav2 {
    height: 0;
    width: 50%;
    position: fixed;
    z-index: 6;
    bottom: 0;
    right: 0;
    background-color: #ffff;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0.85;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#myNav1-content{
    top: 12%;
    left: 5%;
    display: none;
}

#myNav2-content{
    top: 12%;
    right: 10%;
    display: none;   
}

/* ABOUT PAGE CSS GRID */

.aboutPageContainerWhole {
  background-color: black;
}

@media (max-width: 880px) {
 .aboutPageImage1 {
   max-width: 100%;
}
}

.aboutPageContainer {
  display: inline-block;
  padding: 20px;
  background-color: black;
  color: white;
  border: 6px solid transparent;
  border-image: linear-gradient(to right,rgba(246, 184, 170, 1) ,rgba(242, 229, 228, 1));
  border-image-slice: 5;
}

/* BUSINESS CARD CSS */ 

@media (max-width: 1500px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
}

@media (min-width: 1510px) {
  .aboutContainer {
    margin-right: 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .aboutPageContainerWhole {
    overflow: hidden
  }
}


@media (max-width: 375px) {
  .aboutContainer {
    display: inline;
    padding: 20px;
  }
}


.bc-size{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 380px;
  height:600px;
}
.bc-style{
  background-image:none;
  text-align:center;
  background-color:#efefef;
  color:#303030;
  overflow:hidden; /* avoid elements to spill outside of the VC edge */ 
}
.bc-content{
  position:absolute;
  background-color:transparent;
}
.text, button{
    font-family:'Ubuntu', sans-serif;
}
.header-txt{
  position:absolute;
  width:100px;
  left:10px;
  top:26px;
  color: rgba(246, 184, 170, 1);
  font-size:60px;
  font-weight:600;
  line-height:.8em;
  letter-spacing:-0.010em;
  text-transform:uppercase;
}
.name-txt{
  position:absolute;
  width:280px;
  left:50px;
  top: 370px;
  color: black;
  font-size:2.5em;
  font-weight:600;
  letter-spacing:-0.010em;
  text-transform:uppercase;
}
.qualification-txt{
  position:absolute;
  width:280px;
  left:50px;
  top:470px;
  color: rgba(246, 184, 170, 1);
  font-size:3em;
  font-weight:500;
  letter-spacing:-0.050em;

}
.black-txt{
  color:#303030;
  font-style: italic;
}
.image-wrapper{
  position:absolute;
  left:50px;
  top:120px;
  width:280px;
  height:240px; /* To clip bottom of the image */
  overflow:hidden;
}
.image-wrapper > img {
  top:0;
  left:0;
  width:280px;
  height:280px;
  border-radius:50%;
}

.button-txt{
  font-size:1.5em;
  font-weight:700;
  text-transform:uppercase;
  color:#efefef;
	letter-spacing: 0.05em;
}

/* SIZE BOX */

.sizeBoard {
  position: absolute;
  left: 1380px;
  top: 200px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 50px 50px;
  grid-gap: 10px;
}

@media (max-width: 880px) {
  .sizeBoard {
    top: 650px;
    left:  40px;
    width: 200px;
    height: 600px;
 }
 }


 @media (max-width: 440px) {
  .sizeBoard {
    position: absolute;
    font-size: 20px;
    top: 500px;
    left:  30px;
    width: 300px;
    height: 600px;
 }
 }


.sizeBox:hover {
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

.sizeBox {
background: white;
border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
color: rgba(246, 184, 170, 1);
font-size: 17px;
}


.addToCartProduct {
  position: absolute;
  left: 1335px;
  top: 450px;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  background-color: black;
  color: white;
}

@media (max-width: 880px) {
  .addToCartProduct {
    top: 925px;
    left:  150px;
    width: 200px;
    height: 50px;
 }
 }


 @media (max-width: 440px) {
  .addToCartProduct {
    position: absolute;
    font-size: 20px;
    top: 750px;
    left:  75px;
    width: 200px;
    height: 50px;
 }
 }

.productDescription {
  position: absolute;
  left: 1250px;
  top: 530px;
  width: 425px;
}

@media (max-width: 880px) {
  .productDescription {
    top: 650px;
    font-size: 13px;
    left:  190px;
    width: 200px;
    height: 50px;
 }
 }


 @media (max-width: 440px) {
  .productDescription {
    position: absolute;
    font-size: 15px;
    top: 500px;
    left:  165px;
    width: 200px;
    height: 50px;
 }
 }

 @media (max-width: 880px) {
  .viewProductReviewsButton {
    display: none;
 }
 }


 @media (max-width: 440px) {
  .viewProductReviewsButton {
  display: none;
 }
 }

.productTitleDescrip {
  position: absolute;
  left: 1250px;
  top: 110px;
  font-size: 40px;
  font-weight: 600;
  width: 600px;
}

@media (max-width: 880px) {
  .productTitleDescrip {
    position: absolute;
    left:  75px;
    top: 450px;
    font-size: 30px;
    width: 400px;
    height: 600px;
 }
 }


 @media (max-width: 440px) {
  .productTitleDescrip {
    position: absolute;
    font-size: 20px;
    top: 325px;
    left:  90px;
    width: 200px;
    height: 600px;
 }
 }

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-horizontal {
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}

.popup div {
	width: 100%;
}
input[required] + label, .popup div input, .popup div select, .popup div textarea {
	font-family: "Roboto";
	font-weight: 300;
  font-size:16px;
}
.popup div input, .popup div select {
	height:38px;
}

.popup div input, .popup div select, .popup div textarea {
	border:1px solid #d0d0d0;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-left: 10px;
	width: 83.55%;
}


 .popup div textarea {
	height: 110px;
	padding-top: 10px;
}
.popup div input[type="submit"] {

	border-radius:3px;
	width:317px;
	height:40px;
	margin-bottom: 0;
	font-weight: 500;
	font-size:1em;
	color:#ffffff;
	line-height:23px;
}