.App-link {
  color: white;
}


input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.featuredProductsText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 6px solid transparent;
  border-image: linear-gradient(to right,rgba(246, 184, 170, 1) ,rgba(242, 229, 228, 1));
  width: 300px;
  position: relative;
  left: 800px;
  border-image-slice: 5;
}

.box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.card:hover .imgBx
{
  bottom: 80px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 

 /* ABOUT ME TEXT BOX */


/* CAROUSEL CSS */

.carousel-wrapper {
  max-width: 100%;
  max-height: 100%;
  margin: 20px auto;
  padding: 0 20px
}

.sliderimg{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: 50% 40%;
}

/* EXPLORE ARROW */

.productsExploreButton {
    height: 50px;
    width: 75px;
    margin: 0 auto;
    animation-name: pulse;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    background-color: white;
    position: absolute;
    left: 46%;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    font-family: Rubik;
    animation: pulse 5s infinite;
    border: 2px solid black;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* PRODUCTS CARD STARTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #444;
  background-color: #f2f2f2;
}



.card__container {
    width: 320px;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
            box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 60px;
  }
  .card__body__section {
    text-align: center;
    padding: 8px 5px;
  }

  .card__body__section > p {
    font-weight: 700;
  }

  .card__top__section > img {
    margin-left: 10px;
    width: 300px;
  }

  .rating-section {
  border-top: 1px solid #eee;
  padding: 8px 12px;
  margin-top: 5px;
  display: table;
  content: "";
  clear: both;
  width: 100%;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;

}   


  .rating-with-color {
  color: #ffa500;
  }

  .stars-rating{
  float: left;
  }

  .stars-rating > span {
    font-size: small;
  }

  .c-price > span {
  float: center;
  margin-left: 125px;
  }

  .d-price > span {
    font-size: 40px;
    float: right;
    }

  .c-price > div {
    float: right;
  }

   @media screen and (max-width:       450px) {
    .card__container {
      width: 90% !important;
      position: fixed !important;
      left: 27px;
    }
  }

 
  
  /* FOOTER CSS STARTS */


   footer{
    bottom: 0;
    background: black;

   }

   .footer-links {
     padding: 20px;
   }
   .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
    margin-top: 80px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    font-family: "Poppins", sans-serif;
    color: #f38695;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    font-family: "Poppins", sans-serif;
    color: white;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .the-footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color: #f38695;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   }

   .homePageButton:hover {
    transition: all .2s ease-in-out,

    }
  
   .homePageButton:hover {
    transform: scale(1.1); 
   }

   /* DROP DOWN BUTTON CSS */
   
   #myNav1 {
    height: 0;
    width: 50%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0.85;
}

#myNav2 {
    height: 0;
    width: 50%;
    position: fixed;
    z-index: 6;
    bottom: 0;
    right: 0;
    background-color: #ffff;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0.85;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#myNav1-content{
    top: 12%;
    left: 5%;
    display: none;
}

#myNav2-content{
    top: 12%;
    right: 10%;
    display: none;   
}

/* ABOUT PAGE CSS GRID */

.aboutRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  z-index: 0;
}

.aboutColumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.aboutColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .aboutColumn {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .aboutColumn {
    flex: 100%;
    max-width: 100%;
  }
}

.aboutPageContainerWhole {
  background-color: black;
  height: 1500px;
}

.aboutPageContainer {
  padding: 20px;
  position: absolute;
  left: 70%;
  top: 25%;
  background-color: black;
  color: white;
  border: 6px solid transparent;
  border-image: linear-gradient(to right,rgba(246, 184, 170, 1) ,rgba(242, 229, 228, 1));
  border-image-slice: 5;
}

/* BUSINESS CARD CSS */ 

.bc-wrapper{ 
  position:relative;
}
.bc-size{
  width:400px;
  height:600px;
  margin: 20px;
  margin-left: 200px;
}
.bc-style{
  background-image:none;
  text-align:center;
  background-color:#efefef;
  color:#303030;
  overflow:hidden; /* avoid elements to spill outside of the VC edge */ 
}
.bc-content{
  position:absolute;
  background-color:transparent;
}
.text, button{
    font-family:'Ubuntu', sans-serif;
}
.header-txt{
  position:absolute;
  width:100px;
  left:10px;
  top:26px;
  color: rgba(246, 184, 170, 1);
  font-size:60px;
  font-weight:600;
  line-height:.8em;
  letter-spacing:-0.010em;
  text-transform:uppercase;
}
.name-txt{
  position:absolute;
  width:280px;
  left:50px;
  top: 370px;
  color: black;
  font-size:2.5em;
  font-weight:600;
  letter-spacing:-0.010em;
  text-transform:uppercase;
}
.qualification-txt{
  position:absolute;
  width:280px;
  left:50px;
  top:470px;
  color: rgba(246, 184, 170, 1);
  font-size:3em;
  font-weight:500;
  letter-spacing:-0.050em;

}
.black-txt{
  color:#303030;
  font-style: italic;
}
.image-wrapper{
  position:absolute;
  left:50px;
  top:120px;
  width:280px;
  height:240px; /* To clip bottom of the image */
  overflow:hidden;
}
.image-wrapper > img {
  position:absolute;
  top:0;
  left:0;
  width:280px;
  height:280px;
  border-radius:50%;
}

.button-txt{
  font-size:1.5em;
  font-weight:700;
  text-transform:uppercase;
  color:#efefef;
	letter-spacing: 0.05em;
}

/* SIZE BOX */

.sizeBoard {
  position: absolute;
  left: 1380px;
  top: 200px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 50px 50px;
  grid-gap: 10px;
}

.sizeBox {
background: white;
border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
color: rgba(246, 184, 170, 1);
font-size: 17px;
}

.sizeGuide {
  position: absolute;
  left: 1400px;
  top: 175px;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.addToCartProduct {
  position: absolute;
  left: 1335px;
  top: 450px;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  background-color: black;
  color: white;
}

.productDescription {
  position: absolute;
  left: 1250px;
  top: 530px;
  width: 425px;
}

.productTitleDescrip {
  position: absolute;
  left: 1300px;
  top: 75px;
}